


@font-face {
  font-family: 'Bebas Neue';
  src: url('/BebasNeue.woff2') format('woff2'),
       url('/BebasNeue.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Bebas Neue';
  src: url('/BebasNeue-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url('/BebasNeue-Book.woff2') format('woff2'),
       url('/BebasNeue-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.book-font {
  font-family: 'Bebas Neue Book', sans-serif;
  font-weight: normal;
}


body {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: normal;
  margin: 0;
  overflow-x: hidden;
  height: auto;
  min-height: 100vh;
}


a.name-link {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  text-decoration: none;
  z-index: 10;
}


a.info-link {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  text-decoration: none;
  z-index: 10;
}

a.info-link:hover {
  text-decoration: underline;
}


a.name-link:hover {
  text-decoration: underline;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.scrollable-canvas {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.scrollable-canvas canvas {
  width: 100%;
  height: auto;
  display: block;
}



.text-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1000px;
  margin-top: 40px;
}

.text-box {
  width: 45%;
  padding: 15px;
  font-size: 18px;
  text-align: left;
}


.left-text {
  font-family: 'Bebas Neue', sans-serif;
}


.right-text {
  font-family: 'Bebas Neue Book', sans-serif;
}

.subpage-layout {
  height: 100vh;
  width: 100vw; 
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
}

.image-container img {
  width: 49%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 0px;
}


#mosaic-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 50px;
  margin-bottom:-20px;
  padding: 20px 0;
}


.mosaic-row {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom:-115px;
}


.mosaic-row img {
  width: 400px;
  height: auto;
  object-fit: cover;
  position: absolute;
}


#pulsing-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  animation: pulse 3s infinite alternate;
  z-index: 10;
  pointer-events: none;
}


@keyframes pulse {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 0.4;
  }
}